*
  padding: 0
  margin: 0
  box-sizing: border-box


html
  font-size: 16px
  background-color: whitesmoke
  font-family: 'Bungee Inline', cursive

.title
  font-size: 5rem
  color: maroon
  text-align: center
  //text-shadow: 0px 0px 14px maroon

h2
  font-size: 1.5rem
  color: #333
  text-align: center
  text-shadow: 0px 0px 1rem black
  margin-bottom: 2rem

body
  max-width: 600px
  margin: 0 auto

.board
  display: grid
  grid-template-areas: "h1 pf pe pd pc pb pa h2" "h1 pA pB pC pD pE pF h2"

.home
  width: 64px
  height: 140px
  border: 2px solid black
  border-radius: 2rem
  margin: 0rem .5rem
  background-image: radial-gradient(circle at top left, white, #444)
  &#south
    display: flex
    align-items: center
    justify-content: center
    grid-area: h1
  &#north
    display: flex
    align-items: center
    justify-content: center
    grid-area: h2

.pit
  width: 64px
  height: 64px
  border: 2px solid black
  border-radius: 50%
  background-image: radial-gradient(circle at top left, white, #444)
  display: flex
  align-items: center
  justify-content: center
  &#f
    grid-area: pf
  &#e
    grid-area: pe
  &#d
    grid-area: pd
  &#c
    grid-area: pc
  &#b
    grid-area: pb
  &#a
    grid-area: pa

  &#A
    grid-area: pA
  &#B
    grid-area: pB
  &#C
    grid-area: pC
  &#D
    grid-area: pD
  &#E
    grid-area: pE
  &#F
    grid-area: pF
